/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FF9900;
  --ifm-color-primary-dark: #E68A00;
  --ifm-color-primary-darker: #D97E00;
  --ifm-color-primary-darkest: #CC7700;
  --ifm-color-primary-light: #FFAA22;
  --ifm-color-primary-lighter: #FFC266;
  --ifm-color-primary-lightest: #FFE5CC;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FFB84D;
  --ifm-color-primary-dark: #FFAA22;
  --ifm-color-primary-darker: #FF9900;
  --ifm-color-primary-darkest: #E68A00;
  --ifm-color-primary-light: #FFC266;
  --ifm-color-primary-lighter: #FFD699;
  --ifm-color-primary-lightest: #FFF0E6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
